/* Описание верхней части меню*/
.header {
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #CE253D;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.header-block {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  width: 100%;
}
.search-input {
  font-size: 14px;
  line-height: 22px;
  padding: 3px 30px 5px 35px;
  min-width: 100%;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #777777;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: left 12px center;
  outline: none;
}
.search-input::placeholder {
  color: #777777;
  font-size: 12px;
}

.search-input:focus {
  border: 1px solid #db698b;
}
/* Описание всей страницы*/


body {
  padding-top: 44px;
}


.wrapper{
  display: flex;
  width: 100%;
  align-items: stretch;
}

.content{
  width: 100%;
  padding: 20px;
  min-height: 90vh;
  transition: all 0.3s;
}

/*Описание левого блока меню*/
.menu-sidebar {
  /*max-width: 200px;*/
  /*margin-right: 12px;*/
  /*height: 100%;*/
  /*border-right: 1px solid #ccc;*/
  /*flex: 1 250px;*/
  /*position:fixed;*/
  /*left:0;*/
  /*top:0;*/
  /*bottom:0;*/

  min-width: 250px;
  max-width: 250px;
  background: #fff;
  transition: all 0.3s;
  border-right: 1px solid #ccc;
}

.menu-sidebar > .menu-sidebar-text {
    margin-top: 130px;
    margin-right: 50px;
    width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 8px 4px;
  text-decoration: none;
  color: #595959;
  line-height: 22px;
  font-weight: 600;
  font-size: 16px;
  transition: background 1s ease-in-out;
}
.nav-link:focus {
  background-color: #CE253D;
  color:  #fff;
}

.nav-link:focus:hover, .nav-link--active {
  background-color: #CE253D;
  color:  #fff;
}
.nav-link:hover {
  background-color: #fff;
  color:  #595959;
  font-weight: bold;
  border-right: 5px solid #CE253D;
}

.nav-link:active {
  background-color: #CE253D;
  color:  #fff;
}


.nav-text {
  margin-left: 8px;
}

.nav-text--span {
  color: #1890FF;
  margin-left: 12px;
}

/*Результаты поиска*/
.create-post {
  background: #fff;
  width: 100%;
  border-bottom: 1px solid #ccc;
}


.create-post-input {
  padding: 8px;
  width: 90%;
  line-height: 22px;
  font-weight: 600;
  font-size: 22px;
  margin: 0;
}

.create-post-input span {
  color: #232323ad;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
}

.create-post-input__result {
  color: #d0c9c9;
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  padding: 8px;
  padding-top: 0;
  margin: 0;
}

.create-post-footer:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e8e8e8;
  margin-bottom: 16px;

}

.post {
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 16px 0;
  padding: 16px;
  transition: transform 1s ease-in-out;
}

.post-header {}

.post-header__row-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.post-header__block {
  width: 50px!important;
  height: 50px!important;;
  background-color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;

}

.post-header__block-IP {
  color: #323232;
  font-weight: 800;
}

.post-header__block-IP span {
  color: #bd2130;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin-left: 40px;
}

.post-header__block-name {
  font-weight: 800;
  color: #323232;
}

.post-header__block-name span {
  color: #343a40;
    font-weight: 400;
    font-size: 14px;
  line-height: 22px;
  margin-left: 20px;
  text-transform: none;
}

.post-header__block-owner {
  font-weight: 800;
  color: #323232;
}


.post-header__block-owner span {
  color: #343a40;
    font-weight: 400;
    font-size: 14px;
  line-height: 22px;
  margin-left: 65px;
  text-transform: none;
}

.post-header__block-comments {
  font-weight: 800;
  color: #323232;
}

.post-header__block-comments span {
  color: #343a40;
    font-weight: 400;
    font-size: 14px;
  line-height: 22px;
  margin-left: 20px;
  text-transform: none;
}

.post-header__row-bottom {
  display: flex;
  align-items: center;
  padding: 5px 170px;
  padding-left: 25px;
}

.post-header__block-icon {
  display: block;
  width: 20px;
  height: 20px;
  background: #6c757d;
  position: relative;
}

.post-header__block-icon::after {
  content: "";
  display: block;
  position: absolute;
  right: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #6c757d;
}

.post-header__block-tab {
  color: #777777;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 10px;
  margin-left: 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: background 1s ease-in-out;
  border: 1px solid #007bff;
}
/*Создание ACL листа*/
ul {
  list-style: none;
}

.main-feed {
    height: 100vh;
    flex-grow: 1;
    #border: 1px solid #e1e1e1;
    border-bottom: none;
    border-left: none;
}

.post-sidebar {
    #height: 100%;
    min-width: 100px!important;
    border-right: 1px solid #e1e1e1;
    padding: 20px 0;
   margin-right: 15px;
}

.title-block {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
  margin-left: 25px;
}

.title-block > span {
  font-weight: 600;
}

.descr-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 100px;
  margin: 0 0 0 25px;
  padding: 0;
}

.descr-link {
  text-decoration: none;
  font-weight: 400;
  color: #495057;
}

.descr-link--active {
  color: #bd2130d6;
  text-decoration: underline;
  font-weight: 500;
}
.descr-link:hover{
  color: #bd2130d6;
  font-weight: 500;
}
.descr-link:focus:active{
  color: #bd2130d6;
  font-weight: 500;
}

.post-container {
width: 100%;

}

.post-title {
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
}

.post-list {
  padding: 0;
  text-align: center;
  margin-top: 40px;
}

.post-link__circle--active {
  width: 30px;
  height: 30px;
  background-color: #1e7e34;
  border-radius: 50%;
  border: none;
  padding: 3px;
}

.post-link__circle {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 4px dashed #1e7e34fa;
  padding: 3px;
}

.post-list__item:not(:last-child):after {
  display: block;
  content: "";
  width: 1px;
  height: 50px;
  background-color: #000;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main {
  display: flex;
  border: 1px solid #e1e1e1;
}


.main-form {
  display: flex;
  justify-content: flex-start;
  margin-left: -70px;
}

.main-block {
  margin-bottom: 30px;
}

.main-title {
  margin: 0;
  font-size: 16px;
}

/*.main-title span {*/
/*  display: inline-block;*/
/*  margin-left: 10px;*/
/*  background-color: deeppink;*/
/*  padding: 5px 12px;*/
/*  color: #f1f1f1;*/
/*  font-size: 14px;*/
/*  line-height: 1.2;*/
/*  font-weight: 300;*/
/*  border-radius: 3px;*/
/*}*/

.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.contact-form__label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.contact-form__dates {
  display: grid;
  row-gap: 10px;
}

.contact-form__label-checkbox {
  display: grid;
  grid-template-columns: 2fr 1fr 40px 190px;
  grid-template-rows: 1fr;
  align-items: center;
}

.contact-form__label:last-child {
  margin-bottom: 0;
}

.contact-form__text {
  margin-right: 20px;
  color: grey;
}

.contact-form__text-active {
  color: green;
}

.contact__input {
  border: 1px solid lightgray;
  outline: #e0e0e0;
  padding: 4px 8px;
  color: #0d6a0d;
  width: 250px;
}

::-webkit-input-placeholder {
  color: #d1d1d1;
}

.form-row__bottom {
  display: flex;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.checkbox-form {
  margin-left: 8px;
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox__title-active {
  color: #212529;
  font-size: 18px;
}

.checkbox__real {
  margin-left: 5px;
  width: 27px;
  height: 27px;
}

.form-row__footer {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}

.contact-form__submit {
  display: flex;
  flex-direction: column;

}

.label-form__submit:not(:last-child) {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox__real-submit {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  appearance: none;
}

.checkbox__fake {
  display: inline-block;
  position: relative;
  border-radius: 2px;
  width: 27px;
  height: 27px;
  background-color: transparent;
  border: 1px solid #777777;
  margin-right: 7px;
  vertical-align: bottom;
}


.checkbox__real-submit:checked + .checkbox__fake::before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 18px;
  height: 18px;
  transform: translate(-50%, -50%);
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  background-size: initial;
  background-position: center;
}

.checkbox__real-submit:checked + .checkbox__fake {
  background-color: #1e7e34;
}

.checkbox__title-footer {
  color: grey;
}



/*.form-btn {*/
/*  height: 40px;*/
/*  width:220px;*/
/*  font-family: inherit;*/
/*  background: #1e7e34;*/
/*  text-align: center;*/
/*  border: none;*/
/*  border-radius: 3px;*/
/*  cursor: pointer;*/
/*  font-size: 16px;*/
/*  color: #f2f2f2;*/
/*  transition: background-color 0.2s ease-in;*/
/*}*/

/*.form-btn:hover {*/
/*  background-color: green;*/
/*}*/

input:not([type='checkbox']):invalid+span:after, textarea:invalid+span:after {
    position: absolute;
    content: 'X';
    padding-left: 5px;
    color: #ba1010;
    font-weight: 700;

}

.contact-form__label > input:not([type='checkbox']):invalid+span:after{
  margin-top: -15px;
}

input:not([type='checkbox']):valid+span:after, textarea:valid+span:after {
    position: absolute;
    content: '✓';
    padding-left: 5px;
    color: #0d6a0d;
    font-weight: 700;

}

/*textarea:invalid+span:after {*/
/*    position: absolute;*/
/*    content: 'X';*/
/*    padding-left: 5px;*/
/*    color: #ba1010;*/
/*    font-weight: 700;*/
/*}*/


.contact-form__label > input:not([type='checkbox']):valid+span:after {
   margin-top: -15px;
}


.btn-action {
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    /*margin: -5px 0px 0px 5px;*/
    width: 30px;
}

.form-row {
  min-width: 800px;
  border-bottom: 1px solid #dee2e6;
}

.table-ip-internal th{
    text-align: center;
}

.table-ip-internal tr{
    border-top: hidden;
}

.table-ip-internal td:last-child{
    min-width: 100px;
}

.bottom-form-save{
  max-width: 665px;
}

@keyframes spinner-border {
      to { transform: rotate(360deg); }
    }
    .spinner-border{
        display: inline-block;
        width: 2rem;
        height: 2rem;
        vertical-align: text-bottom;
        border: .25em solid currentColor;
        border-right-color: transparent;
        border-radius: 50%;
        -webkit-animation: spinner-border .75s linear infinite;
        animation: spinner-border .75s linear infinite;
    }
    .spinner-border-sm{
        height: 1rem;
        border-width: .2em;
    }