<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>
  <link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesome_free/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesome_free/css/brands.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesome_free/css/solid.css' %}" rel="stylesheet" type="text/css">
  <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
  <script src="{% static 'js/main.js' %}" ></script>
  <title>
      {% block title %}
          ACL - форма
      {% endblock %}
  </title>
</head>
<body>
  <header class="header">
    <div class="center-block">
      <div class="header-block col-lg-6 col-md-8 col-sm-12">
        <form action="{%  url 'search' %}" method="GET" autocomplete="off" name="search-text" class="w-100" role="search" onsubmit="search_from_page(this);">
            <input type="text" class="search-input" id="search-input-text" placeholder="Поиск IP или домена">
        </form>
      </div>
   </div>
<script type="text/javascript">
    function search_from_page(form) {
        form.action = window.location.origin+'/search/'+document.getElementById("search-input-text").value;
    }
</script>
</header>

<div class="wrapper">
            <div class="menu-sidebar">
                <div class="menu-sidebar-text">
                  <nav class="nav-group">
                    {% if 'welcome' in request.path %}
                        <a href="{% url 'acldemo_urls' %}" class="nav-link nav-link--active">
                    {% else %}
                        <a href="{% url 'acldemo_urls' %}" class="nav-link">
                    {% endif %}
                      <span class="nav-text">
                        <i class="fas fa-file-signature pr-1"></i> Создание ACL
                      </span>
                    </a>
                    <a href="#" class="nav-link">
                      <span class="nav-text">
                       <i class="fas fa-laptop-house pr-1"></i> Ресурсы VPN
                      </span>
                    </a>
                  {% if 'history' in request.path %}
                        <a href="{% url 'aclhistory_urls' %}" class="nav-link nav-link--active">
                    {% else %}
                        <a href="{% url 'aclhistory_urls' %}" class="nav-link">
                    {% endif %}

                      <span class="nav-text">
                        <i class="fas fa-clipboard-list pr-1"></i> История обращений
                      </span>
                    </a>

                    {% if 'iptable' in request.path %}
                    <a href="{% url 'iptable_urls' %}" class="nav-link nav-link--active">
                    {% else %}
                        <a href="{% url 'iptable_urls' %}" class="nav-link">
                    {% endif %}
                      <span class="nav-text">
                       <i class="fas fa-list-ul pr-1"></i> IP-адреса
                      </span>
                    </a>
                  </nav>
               </div>
        </div>
    <div class="content">
             {% block content %}
                Добро пожаловать
            {% endblock %}
    </div>
</div>
</body>
</html>
