{% extends 'acl_base.html' %}
{% load static %}

{% block row %}
 <div class="col-12">
    <form method="post" action="{% url 'aclcreate_urls' %}{{ acl_id }}/" name="acl-form-contacts">
    {% csrf_token %}

<div class="pl-3 pr-3 pt-3">
            <!--#{% url 'aclcreate_urls' %}-->
           <div class="main-block">
            <h4 class="main-title">1. Контактная информация <span class="badge badge-danger">Required</span></h4>
          </div>
          <div class="main-form">
            <div class="contact-form">
              <label class="contact-form__label">
                <span class="contact-form__text">ФИО</span>
                <input type="text" class="contact__input" value="{% if LOCAL_STORAGE %}{{ LOCAL_STORAGE.0 }}{% endif %}" placeholder="Иванов Иван" name="name" pattern="[А-Яа-яЁё\s]{3,32}" title="Username should only contain lowercase letters. e.g. john" autofocus required>
                <span class="validity"></span>

              </label>
              <label class="contact-form__label">
                <span class="contact-form__text">Отдел/Управление</span>
                <input type="text" name="department" value="{% if LOCAL_STORAGE %}{{ LOCAL_STORAGE.3 }}{% endif %}" class="contact__input" placeholder="УИБ" pattern="[А-Яа-яЁёA-Za-z\s]{2,32}" required>
                <span class="validity"></span>
              </label>

              <label class="contact-form__label">
                <span class="contact-form__text">Email</span>
                <input type="email" name="email" value="{% if LOCAL_STORAGE %}{{ LOCAL_STORAGE.1 }}{% endif %}" class="contact__input" placeholder="Norepl@Alfastrah.ru" pattern=".+@alfastrah.ru" required>
                <span class="validity"></span>
              </label>

              <label class="contact-form__label">
                <span class="contact-form__text">Проект/ИС</span>
                <input type="text" name="project" value="{% if LOCAL_STORAGE %}{{ LOCAL_STORAGE.4 }}{% endif %}" class="contact__input" placeholder="Легкий Вход" pattern=".{3,}" required>
                <span class="validity"></span>
              </label>

              <label class="contact-form__label">
                <span class="contact-form__text">Телефон</span>
                <input type="tel" name="tel"value="{% if LOCAL_STORAGE %}{{ LOCAL_STORAGE.2 }}{% endif %}"  class="contact__input" placeholder="89096971821" pattern="[0-9]{4,}">
                   <span class="validity"></span>
              </label>
            </div>


          </div>
          <div class="form-row__bottom form-check-inline">
 <div class="contact-form__dates">

              <label class="contact-form__label-checkbox">
                <span class="contact-form__text">Дата ввода в эсплуатацию </span>
{#                <input type="date" class="contact__input" name="d_start" id="contact__input__start" placeholder="21.01.2020" value="2023-12-01" min="2020-01-01" max="2030-01-01" required>#}
                 <input type="date" class="contact__input" name="d_start" id="contact__input__start" min="2020-01-01" placeholder="21.01.2020" value="{{LOCAL_STORAGE.6}}" required>

                <span class="validity"></span>
              </label>

              <label class="contact-form__label-checkbox">
                <span class="contact-form__text">Дата вывода из эксплуатации</span>
                <input type="date" class="contact__input" id="contact__input__term" value="{% if LOCAL_STORAGE %}{% if LOCAL_STORAGE.7 != 'Нет' %}{{ LOCAL_STORAGE.7}}{% endif %}{% endif %}" name="d_complate" placeholder="30.12.2030" min="2020-01-01" max="2030-01-01" required>
                <span class="validity"></span>
                <div style="white-space:nowrap;padding-top:5px;">
                    <input type="checkbox" class="checkbox__real" id="checkbox__real__term" name="d_complete">
                    <label for="checkbox__real__term" style="vertical-align: bottom;">Бессрочно</label>
                </div>
{#                <span class="checkbox__title checkbox__title-active">Бессрочно</span>#}
              </label>

              <label class="contact-form__label-checkbox">
                <span class="contact-form__text contact-form__text-active">Дата заполнения </span>
                <input type="date" class="contact__input" value="{% if LOCAL_STORAGE %}{{ LOCAL_STORAGE.5}}{% endif %}" name="d_form" id="contact__input__date" placeholder="21.01.2020" required>
                <span class="validity"></span>
            </label>
            </div>
              {% if LOCAL_STORAGE %}
                <script>
                {% if LOCAL_STORAGE.7 == 'Нет' %}
                    $("#checkbox__real__term").attr('checked', true);
                    $("#contact__input__term").attr('disabled', true);
                {% endif %}
                </script>
              {% endif %}

          </div>
          <div class="form-row__footer">
          <div class="contact-form__submit">
          <label class="label-form__submit">
          <input type="checkbox" class="checkbox__real-submit" name="action_make_docx">
          <span class="checkbox__fake"></span>
          <span class="checkbox__title-footer">Сгенерировать Word Файл</span>
          </label>
         <label class="label-form__submit">
          <input type="checkbox" class="checkbox__real-submit" name="action_make_omni">
          <span class="checkbox__fake"></span>
          <span class="checkbox__title-footer">Отправить обращение в OmniTracker</span>
          </label>

          <label class="label-form__submit">
          <input type="checkbox" class="checkbox__real-submit" name="action_make_git">
          <span class="checkbox__fake"></span>
          <span class="checkbox__title-footer">Создать обращение через Gitlab</span>
          </label>
          </div>
              <input type="submit" class="btn btn-success" value="Сохранить И Продолжить">
          </div>


</div>

<script>
    $(".post-sidebar").removeClass("d-none");
    {% if not LOCAL_STORAGE %}
        $("#contact__input__date, #contact__input__start").val(GetCurrentDate());
    {% endif %}
</script>
</form>
</div>
{% endblock %}
