{% extends "base.html" %}
{% block title %}
    История обращений
{% endblock %}
{% block content %}
     <div class="post">
          <h1 class="title-block">История обращений ACL</h1>
      </div>
 <div class="modal modal-stage" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Изменить статус</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<form action="{% url 'acl_stage_change' %}" method="post" name="stage-data" id="stage-data">
 <div class="form-group">
    <label for="stage-names">Выберите значение</label>
    <select class="form-control" id="stage-names">
        {% if acl.APL_STATUS %}
            {% for status in  acl.APL_STATUS %}
                {% if status.0 == 'FL' %}
                    <option data="{{ status.0 }}" selected="selected">{{ status.1 }}</option>
                {% else %}
                    <option data="{{ status.0 }}">{{ status.1 }}</option>
                {% endif %}

            {% endfor %}
        {% endif %}
    </select>
   </div>
   <div class="form-group">
    <label for="stage-descr">Описание:</label>
    <textarea class="form-control" id="tage-descr" type="text" rows="3" placeholder="Обращение - 920421301346" autofocus></textarea>
  </div>

</div>
  <div class="modal-footer">
        <button type="submit" class="btn btn-secondary btn-submit" value="Сохранить">Сохранить и закрыть</button>
        <button type="button" class="btn btn-secondary btn-cancel" data-dismiss="modal" value="Закрыть">Закрыть</button>
      </div>
</form>
    </div>
  </div>
  </div>
 {% if acllists %}
    <div class="p-1 mt-1 w-80">
        <div class="p-1 history-activity" style="display: none">
            <button class="btn btn-secondary btn-stage m-1" disabled>Изменить статус</button>
            <button class="btn btn-danger btn-remove m-1" disabled>Удалить</button>
        </div>
        <table class="table table-hover table-borderles table-sm table-history" style="border: 1px solid #dee2e6">
          <thead style="background:#efefef;">
            <tr>
              <th>#</th>
              <th></th>
              <th scope="col">Проект</th>
              <th scope="col">Статус</th>
              <th scope="col" class="text-center">Пользователь</th>
              <th scope="col">Дата создания</th>
              <th scope="col">UUID</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody style="cursor: pointer">
              {% for acllist in acllists.object_list %}
            <tr data="{{acllist.id}}">
                <td class="bs">
                        <a class="detail-icon" href="#"><i class="fa fa-plus"></i></a>
                </td>
                 <td class="bs">
                     <label>
                        <input data-index="0" name="btSelectItem" type="checkbox" value="0" data="{{ acllist.id }}">
                        <input type="hidden" name="message" value="{{ acllist.taskid }}">
                        <span></span>
                     </label>
                 </td>
              <td>{{ acllist.project }}</td>
              <td style="max-width: 100px;!important;">
                  <p class="badge
                  {% if acllist.status == 'FL' %}badge-info
                  {% elif acllist.status == 'WTE'%}badge-warning
                  {% elif acllist.status == 'NOTFL'%}badge-light
                  {% elif acllist.status == 'CMP'%}badge-success
                  {% elif acllist.status == 'CNL'%}badge-secondary
                  {% endif %}
                    ">
                      {{ acllist.get_status_display }}
                  </p>
              </td>
              <td>
                  <div class="font-weight-bold text-secondary text-center">
                      {{ acllist.owner.username}}
                  </div>
                  <div class="font-weight-light text-secondary text-center">
                      {{ acllist.owner.department}}
                  </div>
              </td>
              <td>{{ acllist.created}}</td>
              <td class="text-secondary">{{ acllist.id}}</td>
                <td class="text-secondary"><a href="{% url 'aclcreate_urls'%}{{ acllist.id }}/"><i class="fas fa-align-justify mr-2"></i>Подробнее</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

{% if is_paginated %}
 <nav aria-label="Page navigation">
  <ul class="pagination justify-content-end">
    <li class="page-item {% if not prev_url %} disabled {% endif %}">
      <a class="page-link" href="{{ prev_url }}" tabindex="-1">Предыдущая</a>
    </li>
     {% for n in acllists.paginator.page_range %}
         {% if acllists.number  == n %}
            <li class="page-item active"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
         {% elif n > acllists.number|add:-3 and n < acllists.number|add:3 %}
            <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
         {% endif %}
     {% endfor %}
      <li class="page-item {% if not next_url %} disabled {% endif %}">
      <a class="page-link" tabindex="-1" href="{{ next_url }}">Следующая</a>
      </li>
  </ul>
</nav>
{% endif %}
     </div>
      {% else %}
            <div class="post">
                        <div class="post-header">
                            <p>Ничего не найдено</p>
                        </div>
                    </div>
    {% endif %}
{% endblock %}
