{% extends 'acl_base.html' %}
{% load static %}
{% load random_numbers %}
{% block row %}


<div class="col-11 pt-3">
        <div class="main-block">
             <h4 class="main-title text-center mb-1">2. Описание доступа к ресурсам <span class="badge badge-danger">Required</span></h4>
             <p class="main-description">2.4 Потоки трафика**</p>
        </div>

<form class="form-inline" method="post" action="{% url 'acltraffic_urls' acl_id=acl_id %}" name="acl-form-internal">
    {% csrf_token %}
        <div class="form-row">
            <table class="table table-md table-ip-internal" border="0">
                <thead>
                     <tr>
                         <th>Имя хоста (Источник)</th>
                         <th>IP-адрес (Источник траффика)</th>
                         <th>Имя хоста (Назначение)</th>
                         <th>IP-адрес (Назначение)</th>
                         <th>Протокол/Порт (Назначение)*</th>
                         <th>Описание (цель)</th>
                         <th></th>
                     </tr>

              </thead>
                <tbody>
                 {% if LOCAL_STORAGE|length > 0 %}
                    {% for item in LOCAL_STORAGE %}
                     <tr>
                                <td class="">
                                    <input type="text" value="{{ item.0}}" class="form-control" name="input__domain_source_{% random_int 0 100 %}" autofocus minlength="7" maxlength="32" size="15" required>
                                    <span class="validity"></span>
                                </td>

                                <td class="">
                                        <input type="text" value="{{ item.1}}" class="form-control input__ip__external" name="input__ip_source_{% random_int 0 100 %}" autofocus minlength="7" maxlength="15" size="15" pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d" required>
                                        <span class="validity"></span>
                                </td>

                                <td>
                                        <input type="text" value="{{ item.2}}" class="form-control" name="input__domain_dest_{% random_int 0 100 %}" autofocus minlength="7" maxlength="32" size="15" required>
                                        <span class="validity"></span>
                                </td>

                                <td class="">
                                        <input type="text" value="{{ item.3}}" class="form-control" placeholder="195.239.64.79 input__ip__external" name="input__host_source_{% random_int 0 100 %}" autofocus minlength="7" maxlength="15" size="15" pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d" required>
                                        <span class="validity"></span>
                                </td>

                                <td class="">
                                        <input type="text" value="{{ item.4}}" class="form-control" name="input__host_port_{% random_int 0 100 %}" autofocus minlength="6" maxlength="15" size="15" pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d" required>
                                        <span class="validity"></span>
                                </td>

                                <td>
                                        <textarea class="form-control" rows="1" cols="40"  name="input_descr_{% random_int 0 100 %}" pattern=".{3,}" required>{{item.5}}</textarea>
                                        <span class="validity"></span>
                                </td>
                                <td>
                                            <button class="btn btn-danger btn-sm btn-action btn-action-rm ml-1" type="button">-</button>
                                            <button class="btn btn-success btn-sm btn-action btn-action-add ml-1" type="button">+</button>
                                </td>
                     </tr>
                 {% endfor %}
                    {% else %}
                     <tr>
                                <td class="">
                                    <input type="text"  class="form-control" placeholder="dpgw.alfastrah.ru" name="input__domain_source" autofocus minlength="7" maxlength="32" size="15" required>
                                    <span class="validity"></span>
                                </td>

                                <td class="">
                                        <input type="text"  class="form-control input__ip__external" placeholder="195.239.64.162" name="input__ip_source" autofocus minlength="7" maxlength="15" size="15" pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d" required>
                                        <span class="validity"></span>
                                </td>

                                <td>
                                        <input type="text"  class="form-control" placeholder="Z14-1709-gw.alfastrah.ru" name="input__domain_dest" autofocus minlength="7" maxlength="32" size="15" required>
                                        <span class="validity"></span>
                                </td>

                                <td class="">
                                        <input type="text"  class="form-control input__ip__external" placeholder="195.239.64.79" name="input__host_source" autofocus minlength="7" maxlength="15" size="15" pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d" required>
                                        <span class="validity"></span>
                                </td>

                                <td class="">
                                        <input type="text"  class="form-control" placeholder="TCP:80,443,9000-9100" name="input__host_port" autofocus minlength="6" maxlength="15" size="15" pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d" required>
                                        <span class="validity"></span>
                                </td>

                                <td>
                                        <textarea class="form-control" placeholder="Управление, отладка, мониторинг" rows="1" cols="40"  name="input_descr" pattern=".{3,}" required></textarea>
                                        <span class="validity"></span>
                                </td>
                                <td>
                                            <button class="btn btn-danger btn-sm btn-action btn-action-rm ml-1" type="button">-</button>
                                            <button class="btn btn-success btn-sm btn-action btn-action-add ml-1" type="button">+</button>
                                </td>


                     </tr>
                  {% endif %}
                </tbody>
            </table>
        </div>


<div class="d-flex justify-content-end mt-3 pt-3 bottom-form-save" style="min-width: 95%!important;">
 <input type="submit" class="btn btn-success" value="Сохранить И Продолжить">
</div>
</form>

<div class="col-12 pb-3" style="padding-top: 30px">
    <div class="card border-danger" style="max-width: 655px;">
        <div class="card-header card-header bg-danger text-white" style="background-color: #fe0808b0 !important;">Обратите внимание*</div>
          <div class="card-body">
            <p class="card-text word-wrap">Все потоки траффика по умолчанию считаются с учётом состояния (statefull), т.е. ответный трафик автоматически разрешен. Для обозначения источника/назначения,
                включающих любой возможный адрес – используйте ключевое слово-<span class="font-weight-bold">any</span></p>
          </div>
    </div>
</div>
<script>
    $(".post-sidebar").removeClass("d-none");

    //toggleClass("post-link__circle--active");
  //  $(".post-list__item img").removeClass("post-link__circle").addClass("post-link__circle--active");
   // $(".post-list > li:nth-child(4) >> img").removeClass("post-link__circle").addClass("post-link__circle--active");
</script>
</div>
{% endblock %}
