{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="main-feed">
      <div class="post">
          <h1 class="title-block">Создание <span>ACL</span></h1>
        <ul class="descr-list">
         <li class="descr-item">
              {% if '/acl/overview/' not in request.path and '/acl/demo/' not in request.path %}
                <a class="descr-link--active" href="{% url 'aclcreate_urls' %}">Заполнение формы</a>
              {% else %}
                  <a class="descr-link" href="{% url 'aclcreate_urls' %}">Заполнение формы</a>
              {% endif %}
          </li>
          <li class="descr-item">
             {% if '/acl/overview/' in request.path %}
                <a class="descr-link--active" href="{% url 'acloverview_urls' %}">Формирование Обращения</a>
             {% else %}
                 <a class="descr-link" href="{% url 'acloverview_urls' %}">Формирование Обращения</a>
             {% endif %}
          </li>
        </ul>
      </div>

<div class="main">
    <div class="post-sidebar">
          <span class="post-title">Статус</span>
          <ul class="post-list">
            <li class="post-list__item">
              <a class="post-list__link" href="{% url 'aclcreate_urls' %}">
                <img class="post-link__circle--active" src="{% static 'img/check.svg' %}" alt="icon:check">
              </a>
            </li>
            <li class="post-list__item">
              <a class="post-list__link" href="{% url 'aclinternal_urls'%}">
                <img class="post-link__circle" src="{% static 'img/check.svg' %}" alt="icon:check">
              </a>
            </li>
            <li class="post-list__item">
              <a class="post-list__link" href="{% url 'acldmz_urls' %}">
                <img class="post-link__circle" src="{% static 'img/check.svg' %}" alt="icon:check">

              </a>
            </li>
            <li class="post-list__item">
              <a class="post-list__link" href="{% url 'aclexternal_urls'%}">
                <img class="post-link__circle" src="{% static 'img/check.svg' %}" alt="icon:check">
              </a>
            </li>
            <li class="post-list__item">
              <a class="post-list__link" href="{% url 'acltraffic_urls'%}">
                 <img class="post-link__circle" src="{% static 'img/check.svg' %}" alt="icon:check">
              </a>
            </li>
          </ul>
        </div>
        <div class="post-container">
        <div class="row">
         {% if messages %}
        {% for massage in messages %}
            <div class="alert alert-warning w-50 text-center m-1 align-content-center"> {{ massage }} </div>
        {% endfor %}
        {% endif %}
           {% block row %}
           {% endblock %}
        </div>
      </div>
    </div>
{#<script>#}
{#    $(".alert")#}
{#</script>#}
   </div>

 {% endblock %}