{% extends 'acl_base.html' %}
{% load static %}
{% block row %}
 <div class="col-2 d-none d-md-block d-lg-block" style="min-width: 373px;">
            <img class="img-fluid" src="{% static 'img/demo.png' %}" style="min-height: 550px">
            </div>
            <div class="col-7 mt-3">
                <div class="card text-center border-0">
                      <div class="card-body">
                          <h5 class="card-title">Инициатива по оптимизации внутренних процессов</h5>
                          <p class="text-secondary">Наша задача – улучшить и облегчить бизнес-процессы в нашей компании, связанные с безопасностью. Для обеспечения гибкости взаимодействия, мы запустили данный портал,
                              основная цель которого – систематизация, верификация и рабочий механизм отчетности.
                              Главным образом мы хотели, чтобы процесс управления сетевым доступом (ACL) стал более удобным.</p>
                        <div class="pt-3">
                            <p class="text-success font-weight-bold">Обращения по созданию сетевого доступа (ACL) должны учитывать несколько важных принципов:</p>
                            <div class="list-group text-left">
                                <ul class="form-group">
                                <li class="text-secondary" style="padding: 0.75rem 1.25rem;"><i class="fas fa-bug mr-2"></i>Перед публикацией проекта во внешней сети Интернет проект должен пройти аудит защищённости, проводимый командой Отдела технической безопасности.</li>
                                <li class="text-secondary" style="padding: 0.75rem 1.25rem;"><i class="fas fa-server mr-2"></i>Сервер, с которого осуществляется доступ во внешнюю сеть, должен быть размещен в DMZ, либо отдельном сегменте сети.</li>
                                <li class="text-secondary" style="padding: 0.75rem 1.25rem;"><i class="fab fa-hubspot mr-2"></i></i>Открытие доступа по управляющим протоколам (в т.ч. ssh, rdp, smb и пр.) с серверов ИС, размещенных в DMZ, в другие сегменты ЛВС Компании запрещено и не осуществляется.</li>
                                <li class="text-secondary" style="padding: 0.75rem 1.25rem;"><i class="fas fa-database mr-2"></i>Сервера баз данных должны размещаться не в DMZ, а в сегментах сети Компании, в  которые и из которых доступ во внешние сети отсутствует.</li>
                               </ul>
                            </div>
                        </div>
                     <div class="form-check form-check-inline start-0">
                         <div class="mr-5">
                         <input class="form-check-input" type="checkbox" id="flexAgreementCheck" required>
                          <label class="form-check-label" for="flexAgreementCheck">
                            Всё понятно
                          </label>
                         </div>
                         <a href="{% url 'aclcreate_urls' %}" class="btn btn-success btn-lg btn-start not-active">Начать</a>
                    </div>
                      </div>
                </div>

            </div>
<script>
    $(".post-sidebar").addClass("d-none");
    $(function(){
        function animatedownload(){
                $(".spinner-border").hide();
                $(".card-download-file").parent().removeClass("d-none");

        };
        window.setTimeout(animatedownload, 3000);
    });
</script>
{% endblock %}