{% extends 'acl_base.html' %}
{% load static %}
{% block row %}
 <div class="col-2">
            <img class="img-fluid" src="{% static 'img/network.png' %}" style="height: 450px">
            </div>
            <div class="col-7 mt-5">
                <div class="card text-center border-0">
                      <div class="card-body">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item"><h5 class="card-title">Обращение сформировано.</h5></li>
                            <li class="list-group-item"><p class="card-text">Скоро сотрудники ОТБ займутся вашим обращением. </p></li>
                            <li class="list-group-item"> <a href="#" class="card-link">Скачать файл</a></li>
                          </ul>

                      </div>
                </div>

            </div>
<script>
    $(".post-sidebar").addClass("d-none");
</script>
{% endblock %}