{% extends 'acl_base.html' %}
{% load static %}
{% block row %}


<div class="col-8 pt-3">
        <div class="main-block">
             <h4 class="main-title text-center mb-1">2. Описание доступа к ресурсам <span class="badge badge-danger">Required</span></h4>
             <p class="main-description">2.3 Список внешних ресурсов (Internet)</p>
        </div>

<form class="form-inline" method="post" action="{% url 'aclexternal_urls' %}" name="acl-form-internal">
    {% csrf_token %}

        <div class="form-row">
            <table class="table table-md table-ip-internal" border="0">
                <thead>
                     <tr>
                         <th>IP-адрес источника</th>
                         <th>Префикс-сети</th>
                         <th>Описание</th>
                         <th></th>
                     </tr>

              </thead>
                <tbody>
                     <tr>
                                <td class="">
                                    <input type="text"  class="form-control" placeholder="173.194.222.0" name="input__ip" autofocus minlength="7" maxlength="15" size="15" pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$" required>
                                    <span class="validity"></span>
                                </td>

                                <td class="">
                                        <input type="text" class="form-control" placeholder="/25" name="input__mask"  style="max-width: 110px;" pattern="^([0-9]){1,2}$" required>
                                        <span class="validity"></span>
                                </td>
                                <td>
                                        <textarea class="form-control" placeholder="Сервисы google" rows="1" cols="40"  name="input_descr" pattern=".{3,}" required></textarea>
                                        <span class="validity"></span>
                                </td>
                                <td>
                                            <button class="btn btn-danger btn-sm btn-action btn-action-rm ml-1" type="button">-</button>
                                            <button class="btn btn-success btn-sm btn-action btn-action-add ml-1" type="button">+</button>
                                </td>
                </tbody>
            </table>
        </div>


<div class="d-flex justify-content-end mt-3 pt-3 bottom-form-save" style="min-width: 95%!important;">
 <input type="submit" class="btn btn-success" value="Сохранить И Продолжить">
</div>
</form>
<script>
    $(".post-sidebar").removeClass("d-none");
    $(".post-list > li:nth-child(2) >> img").removeClass("post-link__circle").addClass("post-link__circle--active");
    $(".post-list > li:nth-child(3) >> img").removeClass("post-link__circle").addClass("post-link__circle--active");
    $(".post-list > li:nth-child(4) >> img").removeClass("post-link__circle").addClass("post-link__circle--active");

</script>
</div>
{% endblock %}
